<div style='font-size: 30px; text-align: center;'><p><%=@game.attacker.name%> attacked <%=@game.defender.name%></p></div>
<div style='font-size: 20px; text-align: center;'><p><%=@game.defender.name%> HP: <%=@game.defender.hit_points%></p></div>
