@import url('https://fonts.googleapis.com/css?family=Raleway|Londrina+Outline');

body {
  text-align: center;
  font-family: 'Raleway', cursive;
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/brickwall.png);
}

h1 {
  font-family: 'Londrina Outline', cursive;
  font-size: 300%;
}

input[type="submit"] {
  font-size: 1.2em;
    border: 2px solid #000;
  background-color: transparent;
    color: #000;
    cursor: pointer;
    padding: 14px 24px;
  margin: 10px;
}
